<ion-content [fullscreen]="true">
  <div class="nav-bar">
    <img style="width: 40px;" src="./../../assets/Isotipo_White_NoBCK.svg" />
    <div class="button-container">
      <ion-button (click)="OnLogoutClick()" expand="block" fill="clear" shape="round">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="buttons-container">
    <ion-button (click)="OnViewBeautyPhotoClick()"  style="margin-bottom: 30px;" expand="block" fill="clear" shape="round">
      <span>Cosas lindas</span>
    </ion-button>
    <ion-button (click)="OnViewUglyPhotoClick()"  expand="block" fill="clear" shape="round">
      <span>Cosas feas</span>
    </ion-button>
  </div>
</ion-content>