<ion-content [fullscreen]="true">
  <div class="nav-bar">
    <img style="width: 40px;" src="./../../assets/Isotipo_White_NoBCK.svg" />
    <div class="button-container">
      <span style="margin-right: 10px;">@{{this.nameUser}}</span>
      <ion-button (click)="OnChartClick()" expand="block" fill="clear" shape="round">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-button>
      <ion-button style="color: #ff3c3c;" (click)="OnLogoutClick()" expand="block" fill="clear" shape="round">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="buttons-container">
    <ion-button (click)="OnViewBeautyPhotoClick()"  style="margin-bottom: 30px; background-image: url('./../../assets/edificio\ lindo.jpg'); background-size: cover; background-repeat: no-repeat;" expand="block" fill="clear" shape="round">   
      <span>Cosas lindas</span>
    </ion-button>
    <ion-button (click)="OnViewUglyPhotoClick()"  style="background-image: url('./../../assets/Edificio\ Feo.jpg'); background-size: cover; background-repeat: no-repeat;" expand="block" fill="clear" shape="round">
      <span>Cosas feas</span>
    </ion-button>
  </div>
</ion-content>